[Desktop Entry]
Encoding=UTF-8
Name=Homacoin
Comment=Homacoin P2P Cryptocurrency
Comment[fr]=Homacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Homacoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/homacoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/homacoin128.png
MimeType=x-scheme-handler/homacoin;
Categories=Office;
