#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_homacoin
#build/homacoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_homacoin)

DEB_INSTALL_EXAMPLES_homacoind += debian/examples/*
DEB_INSTALL_MANPAGES_homacoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix homacoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f homacoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake homacoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_homacoin
	src/test_homacoin

# Ensure wrapper is set executable
binary-post-install/homacoind:
	chmod +x $(cdbs_curdestdir)usr/bin/homacoind
binary-post-install/homacoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/homacoin-qt
